.card {
    max-width: 28rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--background-secondary);
}

.card > p {
    margin-bottom: 0.75rem;
}

.h1 {
    font-size: 2rem;
    margin: 0 0 1rem;
}

.buttons {
    display: flex;
    margin-top: 1rem;
    align-items: center;
}
.buttonRight {
    margin-left: auto;
}

.error {
    color: var(--red);
    margin-bottom: 1rem;
}

.horizontal {
    display: flex;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
}
.horizontalInput {
    margin-right: 0.5rem;
}

.layout {
    margin: 1rem auto 0;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: flex-start;
}

.registerLayoutLeft {
    display: flex;
    flex-direction: column;
    width: 660px;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
}
.layoutLeftImage {
    margin-bottom: 1rem;
}
.layoutLeftText {
    margin-left: 1rem;
    flex-shrink: 1;
}
.layoutLeftText > * {
    margin-bottom: 0.5rem;
}

.registerLayoutRight {
    max-width: 450px;
}

@media screen and (max-width: 890px) {
    .layout {
        flex-direction: column;
    }
    .registerLayoutLeft {
        width: auto;
        margin-bottom: 1rem;
    }
    .registerLayoutRight {
        margin-bottom: 5rem;
    }
}

.captchaLoader {
    background-color: var(--background-element);
    height: 78px;
    max-width: 303px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    border-radius: 0.5rem;
}

.spinner {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    margin-left: auto;
}
.fullpageSpinner {
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -1rem;
    margin-top: -1rem;
}
.leftSpinner {
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.25rem;
}
