.cardTitle {
    padding: 0.75rem;
    font-weight: bold;
    border-bottom: 1px solid var(--background-element);
}
.cardContent {
    padding: 0.75rem;
}

.popularFandoms {
    list-style-type: none;
}
.popularFandom {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem;
    text-decoration: none;
    color: var(--text);
}
.fandomAvatar {
    margin-right: 10px;
    flex-shrink: 0;
}
.fandomName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.fandomSubs, a.moreFandoms {
    white-space: nowrap;
    color: var(--text-secondary);
}
.fandomSubs {
    margin-left: 0.5rem;
}
.moreFandoms {
    margin-top: 0.5rem;
    text-decoration: none;
}
.fandomSubs svg, .moreFandoms svg {
    width: 1rem;
    vertical-align: bottom;
}
.fandomSubs svg {
    margin-right: 0.2rem;
}
.moreFandoms svg {
    margin-left: 0.2rem;
}

.fandomSubs.left {
    margin-left: 0;
}
.fandomSubs.left svg {
    margin-right: 0.2rem;
}

.authenticate {
    display: flex;
    text-align: center;
}
.registerButton {
    margin-right: 0.5rem;
}


.fandomIcon {
    margin-left: 0.25rem;
    width: 1rem;
    vertical-align: bottom;
}

.fandomButtons {
    margin: 0.5rem 0;
    text-align: center;
}
.fandomButtons > * {
    margin-bottom: 0.25rem;
}

.fandomDescription {
    overflow-wrap: break-word;
}

.fandomLinks {
    margin-top: 0.5rem;
}
.fandomLink {
    display: block;
    margin: 0.25rem 0;
    text-decoration: none;
}

.fandomLinkTitle {
    font-weight: bold;
    color: var(--text);
}
.fandomLinkUrl {
    color: var(--text-secondary);
}
.fandomLinkUrl > svg {
    width: 1rem;
    vertical-align: bottom;
    margin-right: 0.1rem;
}
.fandomLinkTitle, .fandomLinkUrl {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.fandomLink:hover .fandomLinkUrl {
    text-decoration: underline;
}

.donatesSubtitle {
    margin-top: 0.25rem;
    text-align: right;
    color: var(--text-secondary);
}
.donatesCollected {
    color: var(--primary);
}
.donateButton {
    text-align: center;
    margin-top: 0.5rem;
}

.rubricCof {
    margin-left: auto;
}
.rubricShare {
    margin-right: 0;
    margin-left: 0.5rem;
}

.feedTypeSelector {
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}
.feedTypeSelectorItem {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-right: 0.5rem;
}
.feedTypeSelectorItem.selected {
    background: var(--background-element);
}
