.comment {
    margin-bottom: 1.5rem;
}

.header {
    display: flex;
    align-items: center;
}
.avatar {
    margin-right: 0.5rem;
}
.author {
    font-weight: bold;
    color: var(--text);
    text-decoration: none;
}
.author:hover {
    text-decoration: underline;
}
.time {
    color: var(--text-secondary);
}

.content {
    padding: 0.5rem 0;
}
.quote {
    color: var(--text-secondary);
}

.footer {
    display: flex;
}


/* --- editor --- */

.editor {
    margin-bottom: 1rem;
}
.editor .input {
    resize: vertical;
    background: var(--background-secondary);
}

.editorFooter {
    display: flex;
    justify-content: flex-end;
}
.attachmentButton {
    width: 3rem;
    cursor: pointer;
    padding: 0 1rem;
}
.postButton {
    margin-left: 0.5rem;
}
