* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: var(--primary);
}

.container {
  max-width: 1024px;
  padding: 0 1rem;
  margin: 1rem auto 0;
}
