.header {
    position: fixed;
    height: 50px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    background-color: var(--background-secondary);
    width: 100%;
    z-index: 1000;
}

.h1link {
    text-decoration: none;
}
.h1 {
    font-size: 1.5rem;
    color: var(--text);
    padding-right: 1rem;
}
.releaseCycle {
    font-weight: normal;
    font-size: 1rem;
    font-style: italic;
    font-family: var(--monospace-font);
}

.navLink {
    color: var(--text-secondary);
    text-decoration: none;
    padding-right: 0.5rem;
}
.navLink:hover, .navLink:focus {
    color: var(--text);
}

.spacer {
    flex-grow: 1;
}

.account {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--text);
    text-decoration: none;
    cursor: pointer;
}
.accountAvatar {
    margin-right: 0.5rem;
}

.menu {
    display: none;
    position: fixed;
    top: 50px;
    right: 0;
    width: 50%;
    z-index: 1000;
    padding: 1rem;
    background-color: var(--background-secondary);
    border-bottom-left-radius: 1rem;
    border-bottom: 2px solid var(--background-element);
    border-left: 2px solid var(--background-element);
}
.menu::after {
    /* it works tho :P */
    content: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    right: 0;
    bottom: -100vh;
    background: rgba(0,0,0,.5);
}
.menu.expanded {
    display: block;
}

.menu > .account {
    margin-bottom: 1rem;
}
.menu > .navLink {
    display: block;
    margin: 0.5rem 0;
}

.questTitle {
    margin: 0.5rem 0;
}

@media screen and (max-width: 512px) {
    .header {
        padding: 0 0.5rem;
    }
    .account:not(.accountFull) .accountAvatar {
        margin-right: 0;
    }
    .account:not(.accountFull) .accountText {
        display: none;
    }
    .menu {
        width: 100%;
        border: none;
        border-radius: 0;
    }
    .menu::after {
        content: '';
    }
}
@media screen and (min-width: 1024px) {
    .menu {
        width: 33%;
    }
}
