.layout {
    min-height: 100vh;
    background-color: var(--background);
}

.main {
    padding-top: 50px;
}

.light {
    --background: #D1D5DB;
    --background-secondary: #F3F4F6;
    --background-element: #FAFAF9;
    --text: #1F2937;
    --text-secondary: #4B5563;
    --text-secondary-active: #6B7280;
    --primary: #ff6c01;
    --orange-muted: #D97706;
    --green: #34D399;
    --green-muted: #059669;
    --blue: #3B82F6;
    --red: #ef4444;
    --yellow: #FBBF24;
    --monospace-font: "JetBrains Mono", SFMono-Regular, Menlo, Monaco,
        Consolas, "Liberation Mono", "Courier New", monospace;
    color: var(--text);
}
.dark {
    --background: #18181B;
    --background-secondary: #27272A;
    --background-element: #3F3F46;
    --text: #F3F4F6;
    --text-secondary: #A3A3A3;
    --text-secondary-active: #E5E7EB;
}
