/*#region TextPage*/
.textPage {
    display: flex;
    align-items: flex-start;
    margin: 0.5rem 0.75rem;
}
.textIcon {
    flex: 0 0 32px;
    padding: 5px;
}
.textBlock {
    width: 100%;
    word-wrap: anywhere;
}
.textBig {
    font-size: 1.5rem;
}
/*#endregion*/
/*#region LinkPage & QuotePage*/
.linkPage {
    display: flex;
    align-items: center;
    margin: 0.5rem 0.75rem;
    padding: 0.5rem;
    background-color: var(--background-element);
    color: var(--text);
    border-radius: 0.5rem;
    text-decoration: none;
}
.linkIcon {
    flex: 0 0 32px;
    margin-right: 0.5rem;
}
.linkText {
    flex-grow: 1;
    min-width: 0;
}
.linkName, .linkLink {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.linkName {
    font-weight: bold;
}
.linkLink {
    color: var(--text-secondary);
}
.linkPage:hover .linkLink {
    text-decoration: underline;
}

.quoteText {
    border-left: 0.2rem solid var(--background-secondary);
    padding-left: 0.5rem;
}
/*#endregion*/
/*#region ImagePage*/
.imagePage {
    position: relative;
    margin: 0.5rem 0;
    text-align: center;
}
.imagePage img {
    max-height: 512px;
}
/*#endregion*/
/*#region SpoilerPage*/
.spoilerHeader {
    margin: 1rem 1rem;
    cursor: pointer;
}
.spoilerIcon {
    width: 1.2rem;
    margin-right: 0.5rem;
    vertical-align: bottom;
}
/*#endregion*/
/*#region ImagesPage*/
.imagesPage {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: auto auto auto;
}
.imagesImage {
    position: relative;
}
.imagesImage::before {
    content: "";
    padding-bottom: 100%;
    display: inline-block;
    vertical-align: top;
}
/*#endregion*/
/*#region UserActivityPage*/
.activity {
    background-color: var(--background-element);
    border-radius: 0.5rem;
    margin: 1rem 0.75rem 0.5rem;
    padding: 0.5rem;
}
.activity.activityFull {
    background-color: var(--background-secondary);
    margin: 0 0 1rem;
    padding: 0.75rem;
}

.activitySection {
    display: flex;
    align-items: center;
}

.activityButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.activityButtons > :last-child {
    margin-left: 0.5rem;
}

.activityDescription {
    margin: 0.5rem 0;
}
.activityNext {
    color: var(--text);
    text-decoration: none;
}
.activityNext:hover {
    text-decoration: underline;
}
/*#endregion*/
