.profile {
    padding: 1rem;
}

.profileRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
}
.profileRow:last-child {
    margin-bottom: 0;
}

.accountShort {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
.text {
    margin-left: 0.5rem;
}
.nickname {
    font-weight: bold;
    display: inline-block;
}
.onlineDate {
    color: var(--text-secondary);
}
.online {
    color: var(--green);
}

.sponsorChip {
    padding: 0.3rem 0.5rem;
    background: var(--green);
    border-radius: 1rem;
    white-space: nowrap;
    color: var(--background-secondary);
    text-decoration: none;
}

.profileKV {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}
.profileValue {
    font-weight: bold;
}
.profileKeyIcon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.2rem;
    vertical-align: bottom;
}
.profileEditIcon {
    width: 1rem;
    height: 1rem;
    margin-left: 0.2rem;
    vertical-align: bottom;
    cursor: pointer;
}

.profileValue > .profileEditInput {
    font-size: 1rem;
    padding: 0.2rem;
    width: 4rem;
}

.rank {
    font-weight: bold;
}
.rank.user {
    color: var(--green);
}
.rank.mod {
    color: var(--blue);
}
.rank.admin {
    color: var(--red);
}
.rank.proto {
    color: var(--orange-muted);
}

.warns {
    color: var(--yellow);
}
.bans {
    color: var(--red);
}

.bioEditRow {
    padding: 0.75rem 0.75rem 0;
}
.bioEditButton {
    padding: 0.4rem 0.8rem;
}
.bioEditButton > svg {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.25rem;
    vertical-align: bottom;
}
.bioEditForm {
    width: 100%;
}
.bioEditForm > textarea.bioEditInput {
    min-height: 250px;
}

.centered {
    text-align: center;
}
